<html>
    <head>
        <link rel="stylesheet" href="..\Styles\view.css">
    </head>
<body>

{{FiguresInfo}}
<!--<div id="chartContainer" class="item-container">
    <div class="item-header">Preview highcharts</div>
    <div id="chartData"></div>
</div>

<div id="svgContainer" class="item-container">
    <div class="item-header">Preview svg</div>
    <img id="svgImage" src="" alt="" />
</div>

<div id="jpgContainer" class="item-container">
    <div class="item-header">Preview jpg</div>
    <img id="jpgImage" src="" alt="" />
</div>

<div id="pngContainer" class="item-container">
    <div class="item-header">Preview png</div>
    <img id="pngImage" src="" alt="" />
</div>-->

<script>
    // variables are set to a value (or undefined) via c# code
    //var chartJson = #chartJson#;
    //var jpgFile = #jpgFile#;
    //var svgFile = #svgFile#;
    //var pngFile = #pngFile#;


    //if (jpgFile === undefined) { //hide jpgContainer if no jpg
    //    document.getElementById("jpgContainer").style.display = 'none';
    //} else {
    //    document.getElementById("jpgImage").src = jpgFile;
    //}

    //if (svgFile === undefined) { //hide svgContainer if no svg
    //    document.getElementById("svgContainer").style.display = 'none';

    //} else {
    //    document.getElementById("svgImage").src = svgFile;
    //}

    //if (pngFile === undefined) { //hide pngContainer if no svg
    //    document.getElementById("pngContainer").style.display = 'none';

    //} else {
    //    document.getElementById("pngImage").src = pngFile;
    //}

    //if (chartJson === undefined) { //hide chartContainer if no json data
    //    document.getElementById("chartContainer").style.display = 'none';
    //}

    // same set options as on regjeringen.no
    var setOptions = {
        lang: {
            numericSymbols: null,
            decimalPoint: ",",
            thousandsSep: '\u0020',
            months: ['januar', 'februar', 'mars', 'april', 'mai', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'desember'],
            shortMonths: ['jan', 'feb', 'mar', 'apr', 'mai', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'des'],
            weekdays: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
            shortWeekdays: ['søn', 'man', 'tir', 'ons', 'tor', 'fre', 'lør'],
        },
        xAxis: {
            dateTimeLabelFormats: {
                day: '%e. %b',
                week: '%e. %b',
                month: '%b %y',
                year: '%Y'
            }
        }
    };

    // set options and load highcharts
    document.addEventListener('DOMContentLoaded',
        function() {
            Highcharts.setOptions(setOptions);
            Highcharts.chart('chartData', chartJson);
        });

</script>
<script src="../Scripts/Highcharts/9.3.1/highstock.js"></script>
<script src="../Scripts/Highcharts/9.3.1/highcharts-more.js"></script>
<script src="../Scripts/Highcharts/9.3.1/data.js"></script>
<script src="../Scripts/Highcharts/9.3.1/exporting.js"></script>
<script src="../Scripts/Highcharts/9.3.1/export-data.js"></script>
<script src="../Scripts/Highcharts/9.3.1/funnel.js"></script>
<script src="../Scripts/Highcharts/9.3.1/solid-gauge.js"></script>
<script src="../Scripts/Highcharts/9.3.1/series-label.js"></script>
<script src="../Scripts/Highcharts/9.3.1/accessibility.js"></script>
<script src="../Scripts/Highcharts/9.3.1/annotations.js"></script>
<script src="../Scripts/Highcharts/9.3.1/annotations-advanced.js"></script>
</body>
</html>