* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "open-sans"
}

.introduction {
    padding: 0.1em 0.5em 0 0.5em;
}

h2 {
    color: #fff;
    background-color: #144696;
    padding: 0.5em 0.5em;
    margin: 0;
    border-bottom: 0.1em solid #333333;
    font-size: 1em;
    min-height: 3.4em;
}

.figure {
    background-color: #fff;
    color: white;
    padding: 0;
    min-height: 10em;
}

.figures {
    margin: 0 auto;
    display: grid;
    grid-gap: 0.3em;
}

.ext-error {
    color: #fff;
    background-color: #cd4658;
    padding: 0.5em 0.5em;
}

.ext-error ul {
    padding-left: 1em;
    margin-top: 0.5em;
}

.ext-error ul li {
    list-style: square;
    padding-bottom: 0.1em;
}

.ext-header {
    background-color: #e0e0e0;
    color: #000;
    padding: 0.5em 0.5em;
    border-bottom: 0.1em solid #ababab;
    border-top: 0.1em solid #ababab;
    margin-top: 1em;
    font-size: 0.8em;
}

.ext-content {
    margin-top: 1em;
    color: #000;
}

.ext-content img {
    width: 100%;
    height: auto;
}

.ext-content svg {
    width: 100%;
    height: auto;
}


/*.figures { grid-template-columns: repeat(4, 1fr); }*/





.item-container {
    margin-bottom: 10px;
}

.item-header {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0 3px 3px;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

.chartData {
    width: 98%
}

