.item-container {
    margin-bottom: 10px;
}
.item-header {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0 3px 3px;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

#chartData {
    width: 99%
}





* {
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

h2 {
    color: #000;
    background-color: #c2c2c2;
    padding: 0.5em 0.5em;
    margin: 0;
    /*border-bottom: 0.1em solid #000;*/
    font-size: 1.6em;
    min-height: 3.5em;
}

.figure {
    background-color: #fff;
    color: white;
    padding: 0;
    min-height: 10em;
}

.figures {
    margin: 0 auto;
    display: grid;
    grid-gap: 0.3em;
}

.ext-header {
    background-color: green;
    padding: 0.5em 0.5em;
    margin: 0;
    border: 0.1em solid #000;
}

.ext-content {
    border-bottom: 0.1em solid #000;
    padding: 0.5em 0.5em;
    margin: 0;
}

.ext-content img {
    width: 100%;
    height: auto;
}


.figures {
    grid-template-columns: repeat(4, 1fr);
    /*
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}*/