.item-container {
    margin-bottom: 10px;
}
.item-header {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0 3px 3px;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

#chartData {
    width: 99%
}